@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
    --first-color: #12192C;
    --second-color:#F5A623;
    --white-color: #ededed;
    
    --body-font: 'Poppins', sans-serif;
    --small-font-size: 0.875rem;
    @media screen and (min-width: 768px){
        --small-font-size: 0.938rem;
    }
}
:root{
    --z-back: -10;
    --z-normal: 1;
    --z-tooltrip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}
*,::before, ::after{
    box-sizing: border-box;
}
body{
   position: relative;
   margin: 0.5rem;
   padding: 1rem 0 0 16rem;
   padding-left: 228px;
   font-family: var(--body-font);
   min-height: 100vh;
   background: var(--first-color);
   transition: 0.5s
}
h1{
    margin: 0;
}
ul, li{
    margin: 0;
    padding: 0;
    list-style: none;

}
a{
    text-decoration: none;

}
.l-navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 58px;
    height: 100vh;
    background: var(--first-color);
    padding: 1.25rem 0.5rem 2rem;
    transition: 0.5s;
    z-index: var(--z-fixed);
}
.nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.nav_logo{
    position: relative;
    top: 20px;
    right: -10px;
    display:flex;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0 0.5rem;
}
.nav_logo-icon{
    margin-right: 0.75rem;
    width: 30px;
    height: 30px;
    color: #b2cb40;
}
.nav_logo-text{
    font-size: 1.4rem;
    color: #b2cb40;
    font-weight: 700;
}
.nav_toggle{
    position: absolute;
    top: 2rem;
    right: -0.5rem;
    width: 18px;
    height: 18px;
    background: var(--second-color);
    border-radius: 50%;
    font-size: 200%;
    color: var(--first-color);
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
}
.nav_link{
    position: relative;
    top: 40px;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    color: var(--white-color);
    transition: 0.5s;
}
.nav_link:hover{
    background: var(--second-color);
    color: var(--first-color);
}
.nav_icon{
    font-size: 1.5rem;
    margin-right: 0.75rem;
}
.nav_text{
    font-weight: 550;
}
#logout{
    position: relative;
    top: -5px;
}

.show {
    width: 228px; 
}
.l-navbar:not(.show) .nav_text {
    display: none;
}
.l-navbar:not(.show) .nav_logo-text {
    display: none;
}

.rotate{
    transform: rotate(180deg);
    transition: 0.2s;
}
.expander{
    padding: 1rem 0 0 5rem;
    padding-left: 58x;
}
.active{
    background: var(--second-color);
    color: var(--first-color);
    transition: 0.3s;
}
.user-pic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.noti-icon{
    font-size: 150%;
    cursor: pointer;
    color: var(--white-color);
}
.menu-profile{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}
.menu-profile-icon{
    display: flex;
    align-items: center;
    gap: 15px;
}


.user-pic-in{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.drop-menu-profile{
    position: absolute;
    top: 30px;
    right: 45px;
    background-color: var(--first-color);
    border: 1px solid #444;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    overflow: hidden;
    flex-direction: column;
    z-index: var(--z-modal);
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;

}
.drop-menu-profile.active{
    transform: scale(1);
}
.drop-menu-profile a{
    display: flex;
    align-items: center;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}
.drop-menu-profile a:hover{
    background-color: var(--second-color);
    color: var(--first-color);
}
.drop-menu-profile a ion-icon{
    margin-right: 8px;
}
.drop-menu-profile a .user-pic-in{
    margin-right: 8px;
}

/* module2 */
#search-box{
    position: fixed;
    top: 5%;
    right: 40%;
    background: #fff;
    border-radius: 30px;
}
#search-box #search-text{
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
    
    padding: 0;
    width: 0;
}
#search-box:hover #search-text, #search-box #search-text:valid{
    width: 300px;
    padding: 10px 0 15px 20px;
    transition: 0.5s;
}

#search-box #search-button{
    background-color: #fff;
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 16px;
}
#search-icon{
    font-size: 20px;
    padding-right: 5px ;
}



#inventory-list {
    margin-top: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    display: none;
}

#inventory-list h2 {
    font-size: 1.5rem;
    color: var(--first-color);
    margin-bottom: 20px;
}
#view-all-btn{
    display:block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: var(--first-color);
    color: var(--white-color);
    border:none;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
#view-all-btn:hover {
    background-color: var(--second-color);
    color: var(--first-color);
}
.inventory-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.inventory-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    width: 220px;
    text-align: center;
}

.inventory-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.inventory-item h3 {
    font-size: 1rem;
    margin: 10px 0 5px;
}

.inventory-item p {
    font-size: 0.875rem;
    color: #555;
    text-align: left;
}


#supplier-list{
    /* display: none; */
    margin-top: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;

}
#supplier-list h2 {
    font-size: 1.5rem;
    color: var(--first-color);
    margin-bottom: 20px;
}
.supplier-container {
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
}
.supplier-infor {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    width: 220px;
    text-align: center;
}
.supplier-infor h3 {
    font-size: 1rem;
    margin: 10px 0 5px;
}

.supplier-infor p {
    font-size: 0.875rem;
    color: #555;
    text-align: left;
}

#menu-listInfo-icon{
    font-size: 40px;
    cursor: pointer;
}
.dropdown-menu-listInfo{
    position: absolute;
    top: 100px;
    left: 270px;
    background-color: var(--first-color);
    border: 1px solid #444;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    flex-direction: column;
    z-index: var(--z-modal);
    

}
.dropdown-menu-listInfo a{
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 10px;
    
}
